// pour gérer la taille et le padding d'une image
@mixin img($width, $height, $padding) {
    width:$width;
    height:$height;
    padding:$padding;
    border-radius:$br-5;
    object-fit: cover;
}

// fonctions liées au flex
@mixin flex($jc, $ac, $gap) {
    display: flex;
    justify-content: $jc;
    align-items: $ac;
    gap: $gap;
}

// pour "p"
@mixin paragraph {
    margin:0;
    padding:0;
}

// pour gérer la marge des h1, h2, h3 et h4
@mixin headline {
    margin:0;
}

@mixin vollheim {
  background:$vollheim;
  
}

/* Gestion de l'apparence des boutons, champs et container*/

// White, Black
$variants: W, B;

// Primary, Secondary, Tertiary
$types: P, S, T;

// Success, Information, Danger, Help
$statuts: success, information, danger, help, Corange, Cred;

$royaume: vollheim, arvandor, xingAlda, cerah, alMalaq, claraNocte, ananda, nomades, inactif;


@mixin common-styles {
    padding: 20px;
    border: $stroke;
    border-radius: $br-5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    font-family: $inter;
    font-size: 16px;
    line-height: 18px;
  }
  
  @mixin include-span {
    span {
      font-family: $rubik;
      font-size: 20px;
      font-weight: 600;
    }
  }
  
  @mixin include-paragraph {
    p {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      scrollbar-width: thin;
    }
  }


@each $variant in $variants {
    @each $type in $types {
        .containers-#{$variant}-#{$type}, .champ-#{$variant}-#{$type}, .btn-#{$variant}-#{$type} {
        @include common-styles;
        @include include-span; // Exclure cette ligne si vous ne voulez pas inclure les styles de span
        @include include-paragraph; // Exclure cette ligne si vous ne voulez pas inclure les styles de p
        color: if($variant == 'W', $text-black, $text-white);
        
        @if $variant == 'W' {
            @if $type == 'P' {
            background: $W-primary;
            } @else if $type == 'S' {
            background: $W-secondary;
            } @else if $type == 'T' {
            background: $W-tertiary;
            }
        } @else if $variant == 'B' {
            @if $type == 'P' {
            background: $B-primary;
            } @else if $type == 'S' {
            background: $B-secondary;
            } @else if $type == 'T' {
            background: $B-tertiary;
            }
        }
        }
    }
}


@each $statut in $statuts {
  .btn-#{$statut} {
      @include common-styles;
      color:$white;
      // Ajoutez ici des styles spécifiques aux boutons

    
    @if $statut == 'success' {
      background-color: $success;
    } @else if $statut == 'information' {
      background-color: $information;
    } @else if $statut == 'danger' {
      background-color: $danger;
    } @else if $statut == 'help' {
      background-color: $help;
    } @else if $statut == 'Cred' {
      background-color: $red;
    } @else if $statut == 'Corange' {
      background-color: $orange;
    }
  }
}


















